
    
    <!-- footer starting  -->

        <footer id="footer" class=" cflex_center_nowrap" style=" padding: 17px 0px;     background-color: #0a0a0aa6!important;">
            
            <h3>CopyRight© reserved 2021</h3>
            <h6>Created by: Mohammad Awais</h6>
            
        </footer>
    <!-- footer ending  -->
        
    </div>
    <!-- body ending  -->
    
    <script src="./script.js"></script>
    
</body>
<script >
    function disable_prelaoder(){
document.getElementById("pre_main").classList.add("dnone");
    }
</script>
</html>