<nav  id="navbar">
        <div class="logo_bars">

<div class="logo_container">
<span id="logo_parent_div">
                <img src="./images/icon.png" alt="logo" id="logo">
            </span>
                <h1>Notes</h1>
</div>
<i style="font-size: 2.5rem;display:none;
    color: white;cursor: pointer;" class="fas bars fa-bars"></i>
        </div>

        <ul id="ul" class="hidden dul_none" >
            
           <li id="setting_img_div">
             
               Themes

              
           </li>
           <li id="toggle_sign_logout" >
               {{toggle}}
           </li>
           <li id="register_user" >
               Register
           </li>
            <input autocomplete="off" type="search" class="border_outline_none" name="search" placeholder="search"
                id="search_tag">
        </ul>


    </nav>