<div class="zhigh" style="z-index: 234234234234234234234;" id="pre_main">
    <div id="pre_inner">

<span id="span_prea" class="pre_span">

</span>

<span id="span_preb" class="pre_span">

</span>

<span id="span_prec" class="pre_span"></span>

    </div>
    <div class="preloader_heading_main">
        <h2 class="preloader_heading">
            Loading 
            <span  id="dota" class="dot">.</span>
            <span id="dotb"  class="dot">.</span>
            <span  id="dotc" class="dot">.</span>

        </h2>
    </div>

</div>