 <div class="preloader_main_container">

        <div class="inner_preloader_container">
            
            <h1 id="loading_preloader_heading" >Loading</h1>
            <div class="loading_bar_container">
                <div class="loading_bar"></div>
            </div>
            <h5 id="loading_preloader_progress" >0%</h5>
        </div>
    </div>