<div class="register_container znone">
    <form id="Register_form"   method="post">
        <h1>Register</h1>
        <input type="text"  class="register_input" name="name" placeholder="Name">
        <input type="email"   class="register_input"name="email" placeholder="Email">
        <input type="password"  class="register_input" name="Conform Password" placeholder="Password">
        <input type="password"  class="register_input" name="password" placeholder="Conform Password">
        <input type="submit" class="form_btn" id="register_btn" value="Register">

    </form>
    {{!-- verification  --}}
    <form id="register_verification"  class="dnone" method="post">
        <h1>Verification</h1>
        <input type="text" name="code" id="register_verification_input" placeholder="6 Digit Code">
        
        <input type="submit" id="register_verification_btn" class="form_btn" value="Submit">

    </form>









    <i
    class="fas bars fa-times"
    id="close_form"
    >

    </i>
</div>