<div class="sign_in_container znone">
    <form  method="post">
        <h1>Sign In</h1>
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="Conform Password" placeholder="Password">
        <input type="submit" class="form_btn" value="Sign In">

    </form>

 {{!-- forget --}}

    <form class="dnone"  method="post">
        <h1>Forget Password</h1>
        <input type="email" name="email" placeholder="Enter Your Email">
        <input type="submit" class="form_btn" value="Submit">

    </form>

{{!-- verification --}}
    <form  class="dnone" method="post">
        <h1>Verification</h1>
        <input type="email" name="code" placeholder="6 Digit Code">
        <input type="submit" class="form_btn" value="Submit">

    </form>


    <i
    class="fas bars fa-times"
    id="close_form_signin"
    >

    </i>
</div>