<div class="onone"  id="theme_outer">

    <h1>Themes</h1>
    <div id="theme_closer" >

        <i class="far fa-times-circle"></i>
    </div>
    <div id="theme_inner">


<div class="theme_img_div">
    <img src="./images/b1.jpg" alt="">
</div>
<div class="active theme_img_div">
    <img src="./images/b2.jpg" alt="">
</div>
<div class="theme_img_div">
    <img src="./images/b3.jpg" alt="">
</div>
<div class="theme_img_div">
    <img src="./images/b4.jpg" alt="">
</div>
<div class="theme_img_div">
    <img src="./images/b5.jpg" alt="">
</div>
<div class="theme_img_div">
    <img src="./images/b6.jpg" alt="">
</div>
<div class="theme_img_div">
    <img src="./images/b7.jpg" alt="">
</div>
<div class="theme_img_div">
    <img src="./images/b8.jpg" alt="">
</div>
<div class="theme_img_div">
    <img src="./images/b9.jpg" alt="">
</div>
<div class="theme_img_div">
    <img src="./images/b10.jpg" alt="">
</div>
<div class="theme_img_div">
    <img src="./images/b11.jpg" alt="">
</div>
<div class="theme_img_div">
    <img src="./images/b12.jpg" alt="">
</div>

    </div>
</div>